.answer {
    border-bottom: 1px solid #aaa;
    padding: 2rem 2rem;
}

.answer:last-child {
    border-bottom: 0;
}

#question {
    margin-bottom: 5rem;
}

.answer-stats > small {
    margin-left: 1rem;
    padding-right: 1rem;
    border-right: 0.1rem solid #aaa;
}

.answer-stats > small:last-child {
    border-right: none;
}

.upvote, .downvote, .user-name {
    text-decoration: none;
}

.upvote:hover, .downvote:hover {
    opacity: 0.8;
}

.user-name:hover {
    text-decoration: underline;
}

#post-answer textarea {
    padding: 0.4rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    min-height: 10rem;
}

.button {
    width: 8rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #073a75;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
}

.button:hover {
    opacity: 0.9;
}
