.question-list {
    border-bottom: 1px solid #aaa;;
    padding: 1.2rem 0;
    display: block;
}

.question-title, .user-name, .answers-info {
    text-decoration: none;
}

.question-stats > small {
    margin-right: 1rem;
}

.question-title:hover, .user-name:hover, .answers-info:hover {
    text-decoration: underline;
}

#signup, #login {
    background: #073a75;
    width: 100%;
    min-height: 30rem;
    padding: 2rem 0;
}
